<nav>
    <ul class="">
        {{#if isHome}}
            <li class="active">
                <a class="" href="/">Главная</a>
            </li>
        {{else}}
            <li class="">
                <a class="" href="/">Главная</a>
            </li>
        {{/if}}

        {{#if isAbout}}
            <li class="active">
                <a class="" href="/about">О компании</a>
            </li>
        {{else}}
            <li class="">
                <a class="" href="/about">О компании</a>
            </li>
        {{/if}}

        {{#if isProjects}}
            <li class="active">
                <a class="" href="/works">Наши проекты</a>
            </li>
        {{else}}
            <li class="">
                <a class="" href="/works">Наши проекты</a>
            </li>
        {{/if}}

        {{#if isNews}}
            <li class="active">
                <a class="" href="/news">Новости</a>
            </li>
        {{else}}
            <li class="">
                <a class="" href="/news">Новости</a>
            </li>
        {{/if}}

        {{#if isContacts}}
            <li class="active">
                <a class="" href="/contacts">Контакты</a>
            </li>
        {{else}}
            <li class="">
                <a class="" href="/contacts">Контакты</a>
            </li>
        {{/if}}
    </ul>
</nav>