<nav class="navbar">
    <ul class="navbar-items">
        {{#if isHome}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">Главная</a>
            </li>
        {{/if}}

        {{#if isAbout}}
            <li class="nav-item active">
                <a class="nav-link" href="#">О компании</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">О компании</a>
            </li>
        {{/if}}

        {{#if isProjects}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Наши проекты</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">Наши проекты</a>
            </li>
        {{/if}}

        {{#if isNews}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Новости</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">Новости</a>
            </li>
        {{/if}}

        {{#if isContacts}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        {{/if}}
    </ul>
</nav>