<div class="overlay"></div>
<form class="form" method="post">
    <span class="close">&#10008;</span>
    <h2>Контакт с нами</h2>
    <label for="name">
        <input name="name" placeholder="Ваше имя...">
    </label>
    <label for="tel">
        <input name="tel" placeholder="Ваш телефон...">
    </label>
    <button type="submit">Заказать звонок</button>
    <div>
        <span class="fa fa-phone"></span>+7(800)999-66-44
        <span class="fa fa-envelope-o"></span> email@email.com
    </div>
</form>

<nav class="menu">
    <div class="container">
        <div class="menu-logo">
            <a class="menu-logo-href" href="/">
                <img class="menu-logo-img" src="images/icons/logo.png" alt="logo">
            </a>
        </div>
        <div class="menu-items-container">
            <ul class="menu-contacts">
                <li class="menu-contacts-item"><a href="#">+7(800)999-66-44</a></li>
                <li class="menu-contacts-item"><a href="#">+7(800)999-66-44</a></li>
                <li class="menu-contacts-item"><a href="#">+7(800)999-66-44</a></li>
                <button class="menu-contacts-btn">Заказать звонок</button>
            </ul>
            <ul class="menu-items">
                {{#if isHome}}
                    <li class="menu-item">
                        <a class="menu-page active" href="/">Главная</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a class="menu-page" href="/">Главная</a>
                    </li>
                {{/if}}

                {{#if isAbout}}
                    <li class="menu-item">
                        <a class="menu-page active" href="/about">О компании</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a class="menu-page" href="/about">О компании</a>
                    </li>
                {{/if}}

                {{#if isProduction}}
                    <li class="menu-item dropdown">
                        <a class="menu-page active" href="/production">Наша продукция</a>
                        <ul class="submenu">
                            <li><a href="">Item 1</a></li>
                            <li><a href="">Item 2</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="menu-item dropdown">
                        <a class="menu-page" href="/production">Наша продукция</a>
                        <ul class="submenu">
                            <li><a href="">Item 1</a></li>
                            <li><a href="">Item 2</a></li>
                        </ul>
                    </li>
                {{/if}}

                {{#if isProjects}}
                    <li class="menu-item">
                        <a class="menu-page active" href="/works">Наши проекты</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a class="menu-page" href="/works">Наши проекты</a>
                    </li>
                {{/if}}

                {{#if isNews}}
                    <li class="menu-item">
                        <a class="menu-page active" href="/news">Новости</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a class="menu-page" href="/news">Новости</a>
                    </li>
                {{/if}}

                {{#if isContacts}}
                    <li class="menu-item">
                        <a class="menu-page active" href="/contacts">Контакты</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a class="menu-page" href="/contacts">Контакты</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>