<nav class="menu">
    <ul class="menu-items">
        {{#if isHome}}
            <li class="menu-item active">
                <a class="menu-page" href="/">Главная</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a class="menu-page" href="/">Главная</a>
            </li>
        {{/if}}

        {{#if isAbout}}
            <li class="menu-item active">
                <a class="menu-page" href="/about">О компании</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a class="menu-page" href="/about">О компании</a>
            </li>
        {{/if}}

        {{#if isProjects}}
            <li class="menu-item active">
                <a class="menu-page" href="/works">Наши проекты</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a class="menu-page" href="/works">Наши проекты</a>
            </li>
        {{/if}}

        {{#if isNews}}
            <li class="menu-item active">
                <a class="menu-page" href="/news">Новости</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a class="menu-page" href="/news">Новости</a>
            </li>
        {{/if}}

        {{#if isContacts}}
            <li class="menu-item active">
                <a class="menu-page" href="/contacts">Контакты</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a class="menu-page" href="/contacts">Контакты</a>
            </li>
        {{/if}}
    </ul>
</nav>