<div class="container">
    {{#if error}}
    <div class="row">
        <p class="alert">{{error}}</p>
    </div>
    {{/if}}
    <div class="add row justify-content-around">
        <div class="col-3 products-link mt-5">
            <div class="front card">
                <img id="previewimg" class="card-img-top" alt="products" src="images/choose.png" width="100%" height="70%">
                <div class="card-body">
                    <h3 id="pretitle1" class="card-title text-center">{{#if data.title}} {{data.title}} {{else}} Введите наименование {{/if}}</h3>
                </div>
                <div class="card-footer">
                    <p class="text-center">Стоимость: <span id="preprice1">{{#if data.price}} {{data.price}} {{else}} ???? {{/if}}</span> руб.</p>
                </div>
            </div>
            <div class="back card">
                <div class="card-body">
                    <h3 id="pretitle2" class="card-title text-center">{{data.title}}</h3>
                    <p id="previewdescr" class="card-text">{{data.short_description}}</p>
                </div>
                <div class="card-footer">
                    <p class="text-center">Стоимость: <span id="preprice2">{{data.price}}</span> руб.</p>
                    <div class="row justify-content-around">
                        <a class="btn-card" href="#">Подробнее</a>
                        <a class="btn-card" href="#">Оформить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
        </div>

        <div class="col offset-1">
            <div class="row justify-content-center">
                <h3>Добавить новый товар</h3>
            </div>
            <div class="col-12">
                <form action="/add" method="POST" enctype="multipart/form-data" novalidate>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-5">
                            <label for="title"></label>
                            <input
                                    id="title"
                                    name="title"
                                    oninput="pretitle1.innerHTML = this.value; pretitle2.innerHTML = this.value"
                                    type="text"
                                    class="form-control"
                                    required
                                    value="{{data.title}}"
                                    placeholder="Название товара..."
                                    style="width: 100%">
                        </div>
                        <div class="form-group col-5">
                            <label for="price"></label>
                            <input
                                    id="price"
                                    name="price"
                                    type="number"
                                    oninput="preprice1.innerHTML = this.value; preprice2.innerHTML = this.value"
                                    class="form-control"
                                    required
                                    min="1"
                                    value="{{data.price}}"
                                    placeholder="Цена товара..."
                                    style="width: 100%">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-10">
                            <label for="short_description"></label>
                            <textarea
                                    id="short-description"
                                    name="short_description"
                                    class="form-control"
                                    oninput="previewdescr.innerHTML=this.value"
                                    required
                                    placeholder="Краткое описание для карточки товара..."
                                    style="width: 100%">{{data.short_description}}</textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-10">
                            <label for="description"></label>
                            <textarea
                                    id="description"
                                    name="description"
                                    class="form-control"
                                    required
                                    placeholder="Описание для страницы товара..."
                                    style="width: 100%">{{data.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-6 text-center">
                            <label for="img" class="input-file-button">
                                <span class="input-file-icon-wrapper">
                                    <img class="input-file-icon" src="images/icons/upload.svg" alt="Выбрать файл" width="25"></span>
                                <span class="input-file-button-text">Выбрать изображения товара</span>
                            </label>
                            <input
                                    name="img"
                                    type="file"
                                    accept="image/*"
                                    id="img"
                                    class="add-input-img"
                                    onchange="myFunc(this)"
                                    multiple
                                    required
                                    value="">
                        </div>
                    </div>
                    <div class="row justify-content-center" style="margin-top: -15px">
                        <p style="color: red">Не забудьте выбрать изображение для карточки товара!</p>
                    </div>

                    <ul id="images" class="form-row justify-content-around">

                    </ul>

                    <div class="form-row justify-content-center">
                        <button type="submit" class="news-btn">Добавить товар</button>
                    </div>
                    <input type="hidden" id="selectedImage" name="selectedImage" />
                </form>
            </div>
        </div>
    </div>
</div>