<div class="container">
    <div class="products">

        <ul class="breadcrumbs">

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="">Главная</a>
            </li>

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="">Категория</a>
            </li>

        </ul>

        {{#if isAuth}}
            <li class="add-product-li"><a class="add-product" href="/add">Добавить товар</a></li>
        {{/if}}

        <h2 class="products-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="products-subtitle">Подзаголовок</div>
        <div class="products-wrapper">

        {{#if product.length}}
            {{#each product}}
                <div class="products-link">
                    <div class="front">
                        <img class="products-img" src="images/slider/1.jpg" alt="products">
                        <div class="products-name">{{title}}</div>
                        <div class="products-price">Стоимость: {{price}}</div>
                    </div>
                    <div class="back">
                        <div class="products-name">{{title}}</div>
                        <div class="products-description">{{descr}}</div>
                        <div class="products-price">Стоимость: {{price}}</div>
                        <div class="btns">
                            <a class="btn-card" href="/production/{{id}}">Подробнее</a>
                            <a class="btn-card" href="#">Оформить</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}

        </div>
    </div>
</div>