<div class="container">
    <div class="product-page">

        <ul class="breadcrumbs">

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="/">Главная</a>
            </li>

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="">Категория</a>
            </li>

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link disabled" href="">{{product.title}}</a>
            </li>

        </ul>

        <div class="slider">
            {{#each product.img}}
                <div class="item">
                    <img src="{{img}}" alt="Первый слайд">
                </div>
            {{/each}}

            <div class="container">
                <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a>
            </div>
        </div>

        <div class="product-slider-dots">
            <span class="product-slider-dots_item" onclick="currentSlide({{sliderImages.length}})"><img class="product-slider-dots-img" src="images/slider/1.jpg" alt="slider"></span>
            <img src="images/slider/2.jpg" alt="slider" class="product-slider-dots_item" onclick="currentSlide({{sliderImages.length}})">
            <img src="images/slider/3.jpg" alt="slider" class="product-slider-dots_item" onclick="currentSlide({{sliderImages.length}})">
        </div>

        <div class="product-page-info">
            <div class="product-page-title">{{product.title}}</div>
            <div class="product-page-description">{{product.descr}}</div>
            <div class="product-page-price">{{product.price}}</div>
            <a class="product-page-btn" href="">Купить</a>
        </div>
    </div>
</div>